# Build output
/dist/
/metafile.json
/packaging/cockpit-minsec.spec
/.rpmbuild/
*.tar.xz
*.rpm
*.deb

# Dependencies
/node_modules/

# Debian build artefacts
/debian/cockpit-minsec/
/debian/files
/debian/*.debhelper*
/debian/*.substvars
/debian/.debhelper/

# Editors and OS
*.swp
*~
.DS_Store

# rpmbuild output
/noarch/
/x86_64/
/aarch64/
